body{
font-size: 16px;
font-family: 'Oxygen', sans-serif;
}

/** Header **/
#header-nav {
	background-color: #808B96;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 {/* food llc*/
font-weight: bold;
margin-top: 0px;
line-height: .75;
width:300px;

}
.navbar-brand a:hover, .navbar-header a:focus {
	text-decoration: none;
}
#nav-list{
	
text-align: center;
}
hr
{
    background-color: black;
    border: 0 none;
    color: #eee;
    height: 1px;
}


.container {
	background-color: #808B96;

}
#header-nav {
	width:100vw;
}
#Menu {
	font-size: 2em;
	font-weight: bold;
}
#collapsible-nav{
	clear: both;
	float: left;
	width: 100%;

	background-color: white;
	
}
/**** MEDIA QUERIES***/
/****MEDIUM DEVICES***/
@media (min-width: 992px) {

}
/****SMALL DEVICES ***/
@media (min-width: 768px) and (max-width: 991px){

}
/***EXTRA SMALL DEVICES****/
@media (max-width: 767px){
#chicken{
	margin-left: 20px;
	margin-right: 20px;

}
}